services:
  soundbot:
    build: .
    hostname: ${DOCKER_HOSTNAME}
    ports:
      - ${SOUNDBOT_PORT_8080}:8080
    container_name: soundbot
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
    env_file:
      - .env
    # logging:
    #   driver: json-file
    #   options:
    #     max-file: ${DOCKERLOGGING_MAXFILE}
    #     max-size: ${DOCKERLOGGING_MAXSIZE}
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_VOLUME_CONFIG}/discord-soundbot/db.json:/app/mount/db.json:ro
      - ${DOCKER_VOLUME_CONFIG}/discord-soundbot/sounds:/app/mount/sounds:ro
