<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>soundboard</title>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/styles/{{ css_file }}" />
    <script type="importmap">
      {{ js_importmap | tojson }}
    </script>
  </head>
  <body>
    <header>
      <label class="sm-fullwidth lg-mr-1">
        Filter: <input type="search" />
      </label>
      <label class="sm-fullwidth lg-mr-1">
        Sort:
        <select id="sort">
          <option value="date">Date added</option>
          <option value="count">Play count</option>
          <option value="alpha">Alphabetical</option>
        </select>
      </label>
      <label class="pointer mr-half">
        DESC
        <input type="radio" name="sortorder" value="desc" checked />
      </label>
      <label class="pointer lg-mr-1">
        ASC
        <input type="radio" name="sortorder" value="asc" />
      </label>

      <div class="bottom-controls">
        <label class="pointer lg-mr-1">
          One sound at a time?
          <input type="checkbox" id="single-sound" checked />
        </label>
        <label class="sm-fullwidth lg-mr-1">
          Volume:
          <input
            class="sm-fullwidth"
            type="range"
            id="volume"
            min="0"
            max="100"
            value="100"
          />
        </label>
        <button id="stop">Stop</button>
      </div>
    </header>
    <soundboard-app>
      <div class="grid"></div>
      <footer class="error delay-2s" id="app-error">
        &#x26A0; the soundboard doesn't feel like loading today :c
      </footer>

      <footer class="fade-in no-display" id="app-info"></footer>

      <noscript>
        <footer class="error">
          &#x26A0; pls enable uwuscript to use the soundboard owo
        </footer>
      </noscript>
    </soundboard-app>

    <script type="module">
      import "ui";
    </script>
  </body>
</html>
