<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>soundboard</title>
    <!-- silly cachebust for now, i don't feel like adding build tools yet -->
    <link rel="stylesheet" href="/styles/soundboard.css?v=4" />
  </head>
  <body>
    <header>
      <label class="sm-fullwidth lg-mr-1">
        Filter: <input type="search" />
      </label>
      <label class="sm-fullwidth lg-mr-1">
        Sort:
        <select id="sort">
          <option value="date">Date added</option>
          <option value="count">Play count</option>
          <option value="alpha">Alphabetical</option>
        </select>
      </label>
      <label class="pointer mr-half">
        DESC
        <input type="radio" name="sortorder" value="desc" checked />
      </label>
      <label class="pointer lg-mr-1">
        ASC
        <input type="radio" name="sortorder" value="asc" />
      </label>

      <div class="bottom-controls">
        <label class="pointer lg-mr-1">
          One sound at a time?
          <input type="checkbox" id="single-sound" checked />
        </label>
        <button id="stop">STOP</button>
      </div>
    </header>
    <soundboard-app></soundboard-app>
    <script>
      "use strict";

      /************************************************************************************
       **************************************  CONFIG  *************************************/

      const DB_PATH = "/db.json";
      const SOUNDS_PATH = "/sounds";

      /***********************************************************************************
       *************************************************************************************/

      const versionQuery = [
        ...document
          .querySelector("link[rel=stylesheet]")
          .href.matchAll(/(?<v>\?v=.+)&?/g),
      ];
      const v = versionQuery[0]?.groups?.v ?? "";

      function appendScript(src) {
        const script = document.createElement("script");
        script.src = src;
        document.body.appendChild(script);
      }

      appendScript(`/scripts/clipboard.js${v}`);
      appendScript(`/scripts/ui.js${v}`);
    </script>
  </body>
</html>
